.all{
    float: left;
    background-color: yellow;
    width: 30%;
}
.margin{
    margin-left: 5%;
}
.mat{
    text-indent: 2em;
}
.mat1{
    color: gray;
}
hr{
    margin-top: -1%;
    width: 100%;
    margin-left: 3%;
    margin-right: 100%;
}
.right{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
